head {
    color: white
}

body {
    background-color:black;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
    color: Blue;
}

p {
    color: white;
}

button {
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: green;
    color: blue;
}