a {
    color:black;
    font-size: large;
    padding: 10px;

}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.flexColumn{
    text-align: center;
    background-color: white;
    color: black;
    width: 600px;
    border-radius: 15px;
}

.gameImage{
    width: 100%;
    max-width: 500px;
}

footer{
    background-color: white;
    
}